.nasa-daily {
  color: #FDF1EF;
  padding-top: 2em;
  text-align: center;

  img {
    height: 600px;
    width: auto;
    padding: 1.2em 0;
  }

  p {
    margin: 0 13% 1em;
    letter-spacing: .1em;
  }
}